# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Build artifacts
build/
dist/
*.spec
*.exe

# Runtime
config.ini
hyperwall.log
*.sentinel

# DLLs / binaries
mpv-2.dll
libmpv-2.dll

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
